RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*$ index.html [QSA]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://timebot.com.ua/$1 [QSA]