body {
  background-color: #F6FAFF;
  font-family: "Lato";
  color: #27316B;
  letter-spacing: 0.05rem;
  line-height: 200%;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.title {
  font-family: 'PlayfairDisplay';
  font-weight: 500;
  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0.05rem;
  color: #DE0707;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.input {
  position: relative;
  padding: 32px 0 26px;

  label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    text-transform: uppercase;
  }

  input {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    width: 100%;
    height: 56px;
    border: 1px solid #27316B;
    border-radius: 100px;
    background-color: #F6FAFF;
    font-weight: 400;
    font-size: 1rem;
    color: #27316B;

    &:hover,
    &:focus,
    &:focus-visible {
      border: 1px solid #1632D4;
      outline: none;
    }

    &:focus,
    &:focus-visible {
      background-color: #fff; 
    }

    &::placeholder {
      font-weight: 400;
      font-size: 1rem;
      color: rgba(39, 49, 107, 0.5);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  input[type=checkbox] {
    position: relative;
    padding-left: 18px;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #27316B;
    border-radius: 4px;
    color: #27316B;
    background-color: #F6FAFF;
    margin-right: 8px;

    & ~ span {
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;
    }
  }

  input[type=checkbox]::before {
    position: absolute;
    top: 6px;
    left: 5px;
    content: "";
    width: 16px;
    height: 16px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-image: url("@/assets/images/accept.svg");
    background-repeat: no-repeat;
  }
  
  input[type=checkbox]:checked::before {
    transform: scale(1);
  }
}

.input-check {
  padding-top: 0;
  padding-bottom: 0;
}

.input-phone {
  input {
    padding-left: 80px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::before {
    position: absolute;
    content: "+380";
    top: 43px;
    left: 32px;
    font-weight: 400;
    font-size: 1rem;
  }
}

.input.invalid {
  input {
    border: 1px solid #FF725E;
    color: #FF725E;

    & ~ label {
      color: #FF725E;
    }
  }

  div {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FF725E;
  }
}